 
  .srchbox
	{
	 margin-top: -2px;	
	 border : 1px solid #CCCCCC;
	 background-color : #FFFFFF;
	 color : #0E1930;
	 font-size : 10px;
	 font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	 font-weight : normal;
	 height:14px;
	}

/* Style for Tabs on all the pages*/
  .yui-navset .yui-nav,
  .yui-navset .yui-navset-top .yui-nav 
	{                            /* protect nested tabviews from other orientations */
	 border:solid #2647a0;       /* color between tab list and content */
	 border-width:0 0 0px;
	 Xposition:relative;
	 zoom:1
	}

  .yui-navset .yui-nav li,
  .yui-navset .yui-navset-top .yui-nav li 
	{
	 margin:0 0.16em 0 0; /* space between tabs */
	 padding:1px 0 0;     /* gecko: make room for overflow */
	 zoom:1;
	}

  .yui-navset .yui-nav .selected,
  .yui-navset .yui-navset-top .yui-nav .selected 
	{ 
	 margin:0 0.16em -1px 0;     /* for overlap */
	}

  .yui-navset .yui-nav a,
  .yui-navset .yui-navset-top .yui-nav a 
	{
	 background:#d8d8d8 url(../images/3-july-2008-ESTATE-HUNTING_18.jpg) repeat-x;   /* tab background */
	 border:solid #a3a3a3;
	 border-width:0 1px;
	 color:#000;
	 text-decoration:none;
	}

  .yui-navset .yui-nav a em,
  .yui-navset .yui-navset-top .yui-nav a em 
	{
	 border:solid #a3a3a3;
         border-width:1px 0 0;
	 cursor:hand;
	 padding:0.25em .75em;
	 left:0; right: 0; bottom: 0;      /* protect from other orientations */
	 top:-1px;                         /* for 1px rounded corners */
	 position:relative;
	}
  .yui-navset .yui-nav .selected a,
  .yui-navset .yui-nav .selected a:focus, /* no focus effect for selected */
  .yui-navset .yui-nav .selected a:hover 
	{                                 /* no hover effect for selected */
	 background:#2647a0 url(../images/gradient_dark.gif) repeat-x left ;       /* selected tab background */
	 color:#fff;
	}

  .yui-navset .yui-nav a:hover,
  .yui-navset .yui-nav a:focus 
	{
	 background:#CCCCCC url(../../../../assets/skins/sam/sprite.png) repeat-x left -1300px; /* selected tab background */
	 outline:0;
		
	}

  	
  .yui-navset .yui-nav .selected a em 
	{
	 padding:0.35em 0.75em;  /* raise selected tab */
	}

  .yui-navset .yui-nav .selected a,
  .yui-skin-sam .yui-navset .yui-nav .selected a em 
	{
	 border-color:#243356; /* selected tab border color */
	}

  .yui-navset .yui-content 
	{
	 background:#FFFFFF;  /* content background color */
		    
	}

  .yui-navset .yui-content,
  .yui-navset .yui-navset-top .yui-content 
	{
		    
	 border:1px solid #808080; /* content border */
	 border-top-color:#243356; /* different border color */
	 padding:0.25em 0.5em;     /* content padding */
	 height: 150px;
	}

/*End of style sheet for Tabs*/

/*style for table grid*/
  .yui-skin-sam .yui-dt-liner 
	{
	 
	}

  .yui-skin-sam .yui-dt-hd table 
	{
	 border-left: 1px solid #7F7F7F;
	 border-top: 1px solid #7F7F7F;
	 border-right: 1px solid #7F7F7F;
	 width: 100%;
	}

  .yui-skin-sam .yui-dt-bd table 
	{
	 border-left: 1px solid #7F7F7F;
	 border-bottom: 1px solid #7F7F7F;
	 border-right: 1px solid #7F7F7F;
	 width: 100%;
	}

  .yui-skin-sam .yui-dt th 
	{
	 width: 90%;
	}
		
 /*End of style for Table grid*/
 
 
  .OnepxGrayBorder
	{
         border: 1px dotted #666666; 
         width :600px;  
         background-color: #EEEEEE;
        }

  .OnepxSolidBorder                   /*addschool.jsp*/
	{
	 border:1px solid #000000;
	}

  .Width400pxborder
	{
	 border:1px dotted #666666; 
	 width:400px; 
	 background-color: #EEEEEE;
	}     /*login.jsp*/
  
  .Toppadding130px
	{
	 padding-top: 130px; 
	 padding-bottom: 130px;
	}     /*login.jsp*/

  .SaveCancel                     /*addeditlearningquestioncategory.jsp*/
	{
         width:70px; 
         margin:5px; 
         border:1px dotted #999999;  
         height:29px;  
         background-color: #EEEEEE;
	}

  .SaveCancel130px                         /*editProgramDir.jsp*/
	{
	 width:130px; 
	 margin:5px; 
	 border:1px dotted #999999;  
         height:29px;  
	 background-color: #EEEEEE;
	}
  
  .ComboBox                        /*addprogram.jsp*/
	{
         width: 200px; 
	 background-color:#EEEEEE; 
	 border:1px solid #000000; 
	 font-size : 11px; 
	 font-family : Verdana, Geneva, Arial, Helvetica, sans-serif; 
	 font-weight : normal;
	}

  .ComboBoxBlackbgColor             /*addprogram.jsp*/
	{
	 width: 200px; 
	 background-color:#FFFFFF; 
	 border:1px solid #000000;
	 font-size : 11px; 
	 font-family : Verdana, Geneva, Arial, Helvetica, sans-serif; 
	 font-weight : normal;
	}

  .div.workarea      /*addEditCourseDQ.jsp
	{ 
	 padding:0px; 
	}

  .catheader
	{
	 border: 1px dotted #CCCCCC;
	 background-color: #666666;
	 color:#FFFFFF;
	 padding: 5px; 
	}

  .ul.draglist 
	{ 
	 position: relative;
	 width: 500px;
	 height:100px; 
	 border: 0px dotted #CCCCCC;
	 background-color: #EEEEEE;
	 list-style: none;
	 margin:0px;
	}

  .ul.draglistg 
	{ 
	 position: relative;
	 width: 500px;
	 background-color: #CCCCCC;
	 list-style: none;
	 margin:0;
	 padding:0px;
	}

  .ul.draglistg li 
	{
	 margin: 0px;
	 cursor: move;
	}

  .li.list 
	{
	 border-top: 1px solid #666666;
	 background-color: #FFFFFF;
	 padding: 0px;   
	
	} 
  #user_actions 
	{ 
	 float: left; 
	}
		

  .div.workarea                   /*listquestions.jsp starts */
	{ 
	 padding:10px;
	}

  .ul.draglist 
	{ 
         position: relative;
         width: 500px; 
         border: 1px dotted #CCCCCC;
         list-style: none;
         margin:5;
         padding:5;
	}

  .ul.draglistg 
	{ 
         position: relative;
         width: 500px;
         list-style: none;
         margin:0;
         padding:0;
	}

  .ul.draglistg li 
	{
         margin: 1px;
         cursor: move; 
	}


  .ul.draglist li 
	{
         margin: 1px;
         cursor: move; 
	}

   .ul.draglist_alt 
	{ 
         position: relative;
         width: 200px; 
         list-style: none;
         margin:0;
         padding:0;
    		/*
       		The bottom padding provides the cushion that makes the empty 
       		list targetable.  Alternatively, we could leave the padding 
      	 	off by default, adding it when we detect that the list is empty.
    		*/
	 padding-bottom:20px;
	}

  .ul.draglist_alt li 
	{
         margin: 1px;
         cursor: move; 
	}


  .li.list1 
	{
   
	}

  .li.list2 
	{

	}

  #user_actions
	{ 
	 float: left;
	}
  
  .div.yuimenu .bd                 /*button_dd.jsp*/
	{
	 zoom: normal;
	}
          /*listquestions.jsp ends */


  #button-example-form fieldset 
	{
	 border: 2px groove #ccc;
         margin: .5em;
         padding: .5em;
	}

   #menubutton3menu,
   #menubutton5menu 
	{
	 position: absolute;
         visibility: hidden;
         border: solid 1px #000;
         padding: .5em;
         background-color: #ccc;
	}

  #button-example-form-postdata
	{
	 border: dashed 1px #666;
         background-color: #ccc;
         padding: 1em;
	}

  #button-example-form-postdata h2 
	{
	 margin: 0 0 .5em 0;
         padding: 0;
         border: none;
	}

  .Leftposition             /*addquestioncourse.jsp*/
	{
	 position: relative; 
         left: 0px;
         top: 0px;
	}

  .Heading81px
	{
	 height: 81px; 
	 width: 480px;
	}

  .ErrorTableBackGround                /*error.jsp*/
	{
	 background-color: #E1E1E1; 
	 height: 200px;
	}

  .ErrorTableRow
	{
	 vertical-align: top;       /* error.jsp*/
	}

  .Table20pxleftpading              /* error.jsp */
	{
	 padding-left: 20px; 
	 padding-right: 10px;
	}
 
  .BackGroundImg                    /*error.jsp*/
	{
	 background-image: url('images/bg_mainnav.gif');
	}

  .TopBorder              /*message.jsp*/
	{
	 border: 1px dotted #666666; 
	 border-top-color: #cccccc;
	}    /*message.jsp*/

  .BgBrcst
	{
	 padding: 0px; 
	 margin: 0px; 
	 background-color: #EEEEEE;
	}  /*message.jsp*/

   .Bg5pxBrcst
	{
	 padding: 5px; 
	 margin: 0px; 
	 background-color: #FFFFFF;
	}   /*message.jsp*/

  .RitMargin
	{
	 margin-right: 25px;
	}   /*message.jsp*/

  .BtmPadding5px
	{
	 padding-bottom:5px; 
	}   /*message.jsp*/

  .Padding5px
	{
	 padding: 5px; 
	 margin: 0px;
	}   /*message.jsp*/

  .#breadcrumb b
	{                 /* Navigation.jsp  starts*/
	 font-size:11px; 
	 color:#3366CC;
	}
 
  #breadcrumb a:link 
	{
	 text-decoration: underline;
	 font-size: 11px;
	}

  #breadcrumb a:visited 
	{
	 text-decoration: underline;
	 font-size: 11px;
	}

  #breadcrumb a:hover 
	{
	 text-decoration: none;
	 color:#009999;
	 font-size: 11px;
	}                     /*Navigation.jsp  ends */

   #dates 
	{
         background-color: #CCCCCC;    /* usersurveypreference.jsp    starts*/
         padding:10px;
	}
 	
  #dates p 
	{
         clear:both;
	}

  #dates label 
	{
         float:left;
         display:block;
         width:10em;
         font-weight:bold;
	}

  .LeftTop59px
	{
         background-color: #EEEEEE; 
         border: 1px dotted #666666;
	}

  .LeftTop99px
	{
	 position:absolute; 
	 left: 278px; top: 99px;
	}

  .Padding4px
	{
	 padding: 4px; 
	 color: #FFFFFF; 
	 background-color: #666666;
	}         /* usersurveypreference.jsp   ends*/  

  .Stevenstyle
	{
	 font-size: 16px; 
	 font-family: arial;
	}                 /*    userinfo.jsp8   */
 
 .welcomeBorder
	{
	 border: 1px dotted #666666; 
	 width:600px; 
	 background-color: #FFFFFF;
	}


  




	