@charset "utf-8";

body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: normal;
	color: #666666;
	text-decoration: none;
}

.bodyouter {
	width:90%;
	height:100%;
	border-left: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
}

.mainbar {
	background-image: url(../images/3-july-2008-ESTATE-HUNTING_18.jpg);
	background-repeat: repeat-x;
	height: 25px;
	font-weight: normal;
	font-size: 12px;
}

.divborder {
	width: 650px;
	border: 1px solid #FFFFFF;
}

.searchbar {
	background-image: url(../images/drkgreyhead.gif);
	background-repeat: repeat-x;
	border-bottom:none;
	color: #FFFFFF;
	height: 25px;
	font-weight: bold;
	font-size: 14px;
	text-indent: 7px;
}

.barleft-element {
	margin-top: 5px;
	margin-left: 3px;
	float: left;
	width: 300;
}

.barright-element {
	vertical-align: middle;
	margin-top: 5px;
	float: right;
	margin-right: 3px;
	width: 200;
	text-align: right; /* depends on element width */
}

.barright-elementl {
	float: left;
	text-align: right; /* depends on element width */
}

.barright-elementr {
	
	float: left;
	margin-right: 3px;
	text-align: left; /* depends on element width */
}

.footerbdr {
	border-top: 1px dotted #CCCCCC;
	height: 40px;
}

.footerbdr {
	border-top: 1px dotted #CCCCCC;
	height: 70px;
}

.bdybdr {
	margin-left: 0px;
	border-left: 1px dotted #CCCCCC;
}

.left-img {
	margin-top: 0px;
	margin-left: 0px;
	float: left;
	width: 100;
}

.left-element {
	margin-top: 5px;
	margin-left: 3px;
	float: left;
	width: 70%;
}

.right-element {
	margin-top: 5px;
	float: right;
	margin-right: 3px;
	width: 25%;
	text-align: right; /* depends on element width */
}

#leftMenu {
	width: 195px;
	padding-left: 10px;
	padding-right: 0px;
	float: left;
}

/*
	General rules
	*/
#dhtmlgoodies_slidedown_menu li {
	list-style-type: none;
	position: relative;
	left: -5px;
}

#dhtmlgoodies_slidedown_menu ul {
	margin: 0px;
	padding: 0px;
	position: relative;
}

#dhtmlgoodies_slidedown_menu div {
	margin: 0px;
	padding: 0px;
}

/* 	Layout CSS */
#dhtmlgoodies_slidedown_menu {
	width: 195px;
	
	/*background-color:#333333;*/
}

/* All A tags - i.e menu items. */
#dhtmlgoodies_slidedown_menu a {
	color: #000;
	text-decoration: none;
	display: block;
	clear: both;
	width: 170px;
	padding: 6px;
}

/* All A tags - i.e menu items. */
.lnav a:link {
	color: #000;
	text-decoration: none;
	display: block;
	clear: both;
	width: 170px;
	padding: 6px;
}

.lnav a:visited {
	color: #000;
	text-decoration: none;
	display: block;
	clear: both;
	width: 170px;
	padding: 6px;
}

.lnav  a:hover {
	color: #FFFFFF;
	text-decoration: none;
	background-color:maroon;
	display: block;
	clear: both;
	width: 170px;
	padding: 6px;
}


/*
	A tags 
	*/
	#dhtmlgoodies_slidedown_menu .slMenuItem_depth1 { /* Main menu items */
	margin-top: 1px;
	border: 1px solid #88A29E;
	font-weight: bold;
	background-image: url(../images/3-july-2008-ESTATE-HUNTING_18.jpg);
	background-repeat: repeat-x;
	color: #333333;
	font-size: 12px;
	padding: 5px;
	
}

#dhtmlgoodies_slidedown_menu .slMenuItem_depth2 { /* Sub menu items */
	margin-top: 1px;
	background-color: #CCCCCC;
	font-size: 11px;
}

#dhtmlgoodies_slidedown_menu .slMenuItem_depth3 { /* Sub menu items */
	margin-top: 1px;
	font-style: italic;
	color: blue;
}

#dhtmlgoodies_slidedown_menu .slMenuItem_depth4 { /* Sub menu items */
	margin-top: 1px;
	color: red;
}

#dhtmlgoodies_slidedown_menu .slMenuItem_depth5 { /* Sub menu items */
	margin-top: 1px;
}

/* UL tags, i.e group of menu utems. 
	It's important to add style to the UL if you're specifying margins. If not, assign the style directly
	to the parent DIV, i.e. 
	
	#dhtmlgoodies_slidedown_menu .slideMenuDiv1
	
	instead of 
	
	#dhtmlgoodies_slidedown_menu .slideMenuDiv1 ul
	*/
#dhtmlgoodies_slidedown_menu .slideMenuDiv1 ul {
	padding: 1px;
}

#dhtmlgoodies_slidedown_menu .slideMenuDiv2 ul {
	margin-left: 5px;
	padding: 1px;
}

#dhtmlgoodies_slidedown_menu .slideMenuDiv3 ul {
	margin-left: 10px;
	padding: 1px;
}

#dhtmlgoodies_slidedown_menu .slMenuItem_depth4 ul {
	margin-left: 15px;
	padding: 1px;
}

.loginboxbg {
	width: 250px;
	height: 40px;
	margin-left: 0px;
	border: 0px solid #b9c6fb;
	background-image: url(../images/3-july-2008-ESTATE-HUNTING_11.jpg);
	background-repeat: repeat-x;
	font-weight: normal;
	font-size: 12px;
}

.semelement {
	margin-top: 5px;
	float: right;
	margin-right: 3px;
	text-align: right; /* depends on element width */
}

.userelement {
	margin-top: 5px;
	margin-left: 3px;
	float: left;
}

#top {
	color: #FFFFFF;
	font-weight: bold;
	font-size: 10px;
	height: 36px;
}

.mainhead {
	background-color: #2B1B17;
	color: #ffffff;
	font-size: 14px;
	font-weight: bold;
}

#top a:link {
	color: #FFFFFF;
	text-decoration: none
}

#top a:visited {
	color: #FFFFFF;
	text-decoration: none
}

#top a:hover {
	color: #FFFFFF;
	text-decoration: underline
}


a:link {
	color: maroon;
	text-decoration: none
}

a:visited {
	color: maroon;
	text-decoration: none
}

a:hover {
	color: #666666;
	text-decoration: underline
}


a.intro:link {
	color: maroon;
	text-decoration: underline
}

a.intro:visited {
	color: maroon;
	text-decoration: underline
}

a.intro:hover {
	color: #666666;
	text-decoration: none
}


.loc {
	color: #660066;
	font-size: 20px;
	text-align: right
}

.instHead {
	color: #999999;
	font-size: 14px;
	font-weight: bold;
}

.loc a:link {
	color: #666666;
	text-decoration: none;
	font-size: 10px
}

.loc a:visited {
	color: #666666;
	text-decoration: none;
	font-size: 10px
}

.loc a:hover {
	color: #666666;
	text-decoration: none;
	font-size: 10px
}

.nav {
	font-size: 12px;
	margin-left: 25px;
	margin-top: 0;
}

.marker {
	margin-left: 40px;
}

.searchf {
	margin-left: 0px;
	background-image: url(/images/3-july-2008-ESTATE-HUNTING_11.jpg);
	background-repeat: repeat-x;
	border: 1px solid #b9c6fb;
	width: 625px;
	height: 78px;
}

.toolborder {
	margin-left: 0px;
	border: 1px solid #b9c6fb;
	width: 320px;
	height: 78px;
}

.outer {
	border-left: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
}

.listbutton {
	border: 1px solid #CCCCCC;
	margin-left: 7px;
	margin-top: 10px;
	background-image: url(/images/3-july-2008-ESTATE-HUNTING_18.jpg);
	background-repeat: repeat-x;
	width: 85px;
	height: 25px;
	text-align: center;
	vertical-align: middle;
	font-size: 11px;
	color: #0066FF;
}

.regbutton {
	border: 1px solid #CCCCCC;
	margin-left: 7px;
	margin-top: 10px;
	background-image: url(/images/gradient_dark.gif);
	background-repeat: repeat-x;
	width: 85px;
	height: 25px;
	text-align: center;
	font-size: 11px;
	color: #666666;
}

.profbutton {
	border: 1px solid #CCCCCC;
	margin-left: 7px;
	margin-top: 10px;
	background-image: url(/images/gradient_dark.gif);
	background-repeat: repeat-x;
	width: 90px;
	height: 25px;
	text-align: center;
	vertical-align: middle;
	font-size: 11px;
	color: #666666;
}

.btext {
	margin-top: 5px;
	vertical-align: middle;
}

.left-ad {
	float: left;
	width: 103;
}

.mainbod {
	width: 627;
}

.bordermainlist {
	float: right;
	width: 500px;
	margin-left: 20px;
	border: 1px solid #CCCCCC;
}

.headmainlist {
	height: 25px;
	background-image: url(/images/3-july-2008-ESTATE-HUNTING_18.jpg);
	background-repeat: repeat-x;
	font-size: 12px;
	color: #FF6600;
	font-weight: bold;
	text-align: center;
}

.mainlisting {
	margin: 5px;
	vertical-align: top;
}

.rlistingbord {
	width: 320px;
	border: 1px solid #CCCCCC;
	margin-right: 10px;
}

.rheadlist {
	text-align: center;
	font-size: 12px;
	color: #FF9900;
	font-weight: bold;
	height: 25px;
	background-image: url(/images/3-july-2008-ESTATE-HUNTING_18.jpg);
	background-repeat: repeat-x;
}

.rlisting {
	margin: 5px;
	vertical-align: top;
}

.instructions{
	text-align: left;
	font-size: 12px;
	color: maroon;
	font-weight: bold;
}