@charset "utf-8";
.style1 {
	font-size: 10px;
	color: #0066FF;
}
.style2 {color: #666666}
.style4 {
	font-size: 10px;
	font-weight: bold;
}
.style10 {color: #CC99FF}
.style11 {
	color: #660000;
	font-size: 14px;
	font-weight: bold;
}

.menu {
 position:relative;
 background-color:gold;
 border:1px solid darkblue;
 width:150;
 font-size:11px;
 font-family:verdana;
 font:bold;
 position:absolute;
 cursor:se-resize;
}

.item_panel {
  width:150;
  border-left:1px solid darkblue;
  border-right:1px solid darkblue;
  clip:rect(0,150,0,0);
  position:absolute;
}

.item_panel a {
 text-decoration:none;
 color:black;
 cursor:hand;
}

.item {
 background-color:lightyellow;
 width:148;
 font-size:10px;
 font-family:verdana;
}


.td_style { font-size:12px; padding-right:10px; }
.th_style { text-align:left; font-weight:bold; font-size:13px; padding-right:10px; }
.tdLabel_style { font-weight: bold; white-space:nowrap; vertical-align:top;}

A { color:#4A825A; text-decoration:none;}
A:link { text-decoration:none;}
A:visited { text-decoration:none;}
A:hover { text-decoration:none; color: red;}

.borderAll_style {
    border: 2px solid #8F99EF;
}

.butStnd_style {
    font-family:arial,sans-serif;
    font-size:11px;
    width:105px;
    background-color:#DCDFFA ;color:#4A825A;font-weight:bold;
}

.errorMessage_style {
    color: red;
    font-weight: bold;
    padding-left:18px;
    padding-top:2px;
    padding-bottom:10px;
    padding-right:5px;
}

.even { background-color: #EFFBEF; }
.odd { background-color: white; }

.nowrap { white-space:nowrap; }
